body {
    position: relative;
    max-width: 1920px;
    font-family: 'Raleway', 'Arial', 'sans-serif';
}

a {
    text-decoration: none;
}

h1 {
    margin: 0 auto;
    padding: 245px 120px 10px 120px;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: justify-all;
}

h2 {
    font-size: 14px;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 20px;
}

header {
    background: url("../images/header-backgroudn-min.jpg") center top #333751;
    margin: 0 auto;
    width: inherit;
}

.header-content {
    position: relative;
    max-width: 1168px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.03em;
}

.menu {
    background-color: rgba(49, 54, 79, 0.6);
    position: fixed;
    top: 0;
    width: 1168px;
    padding: 35px 0;
    border-bottom: solid 1px #66697e;
    height: 30px;
    text-transform: uppercase;
    z-index: 10;
}

.logo {
    float: left;
    padding-left: 10px;
    font-size: 30px;
    line-height: 30px;
    color: #66697e;
    font-weight: 800;
    transform: scaleX(1.1);
}

.logo b {
    font-weight: 300;
    color: white;
    letter-spacing: -0.03em;
}

.menu ul {
    float: right;
    margin: 0;
    padding-right: 5px;
    line-height: 30px;
}

.menu li {
    display: inline;
    list-style-type: none;
    font-size: 12px;
    font-weight: 600;
    padding-left: 55px;
}

.menu li a {
    color: #cacad1;
}

.menu:after {
    display: block;
    content: '';
    clear: both;
}

header p {
    font-size: 20px;
    color: white;
    padding: 0 100px;
    line-height: 30px;
}

header button {
    width: 200px;
    height: 50px;
    margin: 55px 0 150px 0;
    background-color: #e84545;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
}

header button:hover {
    cursor: pointer;
}

header button:active, header button:focus {
    outline: none;
}

header button:active {
    transform: scale(0.98);
}

.content {
    width: inherit;
}

section {
    position: relative;
    max-width: 1168px;
    margin: 0 auto;
    padding: 80px 0 90px 0;
    text-align: center;
}

section article {
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding: 40px 40px 20px 40px;
}

section:after {
    display: block;
    content: '';
    clear: both;
}

.icons {
    background: url("../images/icon-min.png") no-repeat 15px;
    height: 60px;
    width: 80px;
    margin: 0 auto;
}

article:nth-child(2) .icons {
    background-position: -95px;
}

article:nth-child(3) .icons {
    background-position: -180px;
}

article:nth-child(4) .icons {
    background-position: -290px;
}

article:nth-child(5) .icons {
    background-position: -395px;
}

article:nth-child(6) .icons {
    background-position: -500px;
}

section h2 {
    margin: 32px 0 20px 0;
}

section p {
    text-align: justify-all;
    color: #6C7279;
}

aside {
    position: relative;
    width: inherit;
}

.photo {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    line-height: 0;
    padding-bottom: 1px;
    padding-right: 1px;
    cursor: pointer;
}

.photo > img {
    width: 100%;
}

.overlay {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(232, 69, 69, 0.88);
    color: white;
    text-align: center;
    margin-bottom: 1px;
    margin-right: 1px;
}

.overlay h2 {
    margin-top: 36%;
}

.photo:hover .overlay {
    display: block;
}

aside:after {
    display: block;
    content: '';
    clear: both;
}

footer {
    overflow: auto;
    width: inherit;
    margin: 0 auto;
    background-color: #3a3e64;
    text-align: center;
}

.footer-top {
    position: relative;
    max-width: 1168px;
    margin: 0 auto;
}

.footer-top div {
    float: left;
    width: 33%;
    color: white;
    margin: 50px 0;
}

.footer-top p {
    color: #cacad1;
    margin-top: 10px;
    padding: 0 30px;
    word-break: break-all;
}

.footer-top a {
    display: inline-block;
    margin: 0 1px;
    width: 36px;
    height: 36px;
    color: white;
    border: solid 2px white;
    border-radius: 3px;
    line-height: 36px;
    font-size: 20px;
}

.footer-top:after {
    display: block;
    content: '';
    clear: both;
}

.footer-down {
    color: #707177;
    background-color: #313454;
    font-size: 14px;
    line-height: 20px;
    padding: 30px;
}

.footer-down div {
    max-width: 300px;
    margin: 0 auto;
}

.footer-down span {
    color: #cacad1;
}

.footer-down i {
    color: #e84545;
}